.catalog-root{
	.search-wrapper {
		$border: 1px solid rgba(0, 0, 0, .6);

		display: flex;
		border-radius: 6px;
		overflow: hidden;
		border: $border;

		&>div{
			&:nth-child(1){
				border-right: $border;

				ul{
					display: none;
				}
			}

			&:nth-child(2) {
				flex: 1;
			}
		}
	}
}