.catalog-root{
	.header{
		&, .search-wrapper, .sort-wrapper{
			display: flex;
		}

		.search-wrapper {
			$border: 1px solid rgba(0, 0, 0, .6);
			flex: 1;
			border-radius: 6px;
			overflow: hidden;
			border: $border;

			&>div{
				&:nth-child(1){
					border-right: $border;

					ul{
						display: none;
					}
				}

				// Search input field 
				&:nth-child(2) {
					flex: 1;
				}
			}
		}
	}
	
}