.reports-green-card-gradient {
  background: radial-gradient(
    53.33% 53.33% at 51.85% 62.5%,
    #8be499 41.67%,
    #bbe2bf 100%
  );
}

.reports-blue-card-gradient {
  background: radial-gradient(
      53.33% 53.33% at 51.85% 62.5%,
      #8bbfe4 41.67%,
      #bbd2e2 100%
    ),
    #a0d1f4;
}

.reports-white-card-gradient {
  background: radial-gradient(
      53.33% 53.33% at 51.85% 62.5%,
      #e5ecf2 32.81%,
      #ffffff 100%
    ),
    #f6f7fd;
}
