$comment-bg: var(--solidie-color-material-3);
$comment-bg-darker: var(--solidie-color-material-10);

.comments-wrapper {

	.comments-control {
		@media (max-width: 767px) {
			cursor: pointer;
		}

		@media (min-width: 768px) {
			.commnents-arrow {
				display: none;
			}
		}

		.commnents-arrow {
			transition: all 0.4s;
		}
	}

	&:not(.show-in-mobile) {
		.commnents-arrow {
			transform: rotate(90deg);
		}
	}

	&.show-in-mobile {
		.commnents-arrow {
			transform: rotate(-90deg);
		}
	}

	.comments{

		&, * {
			box-sizing: border-box;
		}

		.comment-box {
			overflow: auto;
			margin-bottom: 15px;

			textarea {
				display: block;
				width: 100%;
				height: 150px;
				border: 1px solid rgba(211, 211, 211, 0.563);
				border-radius: 6px;
				padding: 15px;
				margin-bottom: 10px;

				&:focus {
					box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.149);
					outline: 0;
				}
			}

			button {
				float: right;
			}
		}

		.comment {
			padding: 15px;
			background-color: $comment-bg;
			margin-bottom: 15px;
			border-radius: 6px;

			&.highlight {
				animation: crewHighlight 1.5s ease-in-out forwards 1; /* Added "1" for iteration count */
			
				@keyframes crewHighlight {
					from {
						background-color: $comment-bg-darker;
					}
					
					to {
						background-color: $comment-bg;
					}
				}
			}

			&:not(:hover) {
				.action-dots {
					visibility: hidden;
				}
			}
		}
	}

	@media (max-width: 767px) {
		&:not(.show-in-mobile) {
			.comments {
				display: none;
			}
		}
	}
}
