.content-editor {
	.content-thumbnail {
		width: 161px;
		height: 105px;
		border: 6px solid rgb(243, 243, 243);
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: center center;
	}

	.field-wrapper {

		display: flex;
		margin-bottom: 35px;
		flex-flow: column;
		column-gap: 15px;

		@media (min-width: 640px) {

			flex-flow: row;

			&>div {
				&:first-child {
					width: 25%;
				}

				&:last-child {
					flex: 1;
				}
			}
		}
	}
}