.generic-card {
	.single {
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.151);

		&:hover {
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.255);
		}

		.thumbnail {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}
