.like-wrapper {
	backdrop-filter: blur(3px);
	background-color: var(--solidie-color-text-4);
	border: 1px solid var(--solidie-color-text-10);
    border-radius: 50px;
    padding: 0 10px;
    height: 27px;
}
