.audio {
	background: rgba(0, 0, 0, 0.05);

	.player-control {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: var(--crewmat-color-primary);
		cursor: pointer;

		i {
			color: var(--crewmat-color-white);
		}
	}
}
