@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body,
  #Solidie_Single_Content,
  #Solidie_Catalog {
    @apply h-full w-full;
  }
  html {
    @apply theme-light;
  }
  .Button {
    @apply bg-tertiary text-primary font-bold text-sm px-8 py-3 h-max sm:w-max rounded-full shadow-md shadow-tertiary/60 active:animate-ping active:animate-bounce;
  }
  .Label {
    @apply text-xs font-bold text-tertiary uppercase;
  }
  .FieldMessage {
    @apply text-sm font-bold text-red-400;
  }
  .Input {
    @apply transition-all delay-150 !border-2 !border-transparent font-bold !bg-primary !rounded-full px-4 py-3 text-sm;
  }
  .Input:hover {
    @apply !border-tertiary !shadow-md !shadow-tertiary/30;
  }
  .Input:focus {
    @apply !border-tertiary !shadow-lg !shadow-tertiary/60 !outline-none !ring-tertiary/30 !ring-2;
  }
  .Textarea {
    @apply transition-all delay-150 !border-2 !font-bold !bg-primary !rounded-xl !px-4 !py-3 !text-sm hover:!outline-2 !outline-tertiary focus:!shadow-lg !shadow-tertiary;
  }
  .Textarea:hover {
    @apply !border-tertiary !shadow-md !shadow-tertiary/30;
  }
  .Textarea:focus {
    @apply !border-tertiary !shadow-lg !shadow-tertiary/60 !outline-none;
  }
  .MuiTablePagination-selectLabel {
    @apply !font-black;
  }
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 760px) {
	.swiper-button-next {
	right: 20px;
	transform: rotate(90deg);
	}

	.swiper-button-prev {
	left: 20px;
	transform: rotate(90deg);
	}
}