.highlight {
    animation: crewHighlight 1.5s ease-in-out forwards 1; /* Added "1" for iteration count */
}

@keyframes crewHighlight {
    from {
        background-color: #d6bd1f;
    }
	
    to {
		background-color: transparent;
    }
}

.section {
    max-width: 100%;
}

.fields-wrapper {

	&>div {
		padding: 10px 0;
	}

	&.separator {
		&>div {
		
			padding: 20px 0;

			&:not(:last-child) {
				border-bottom: 1px solid var(--crewmat-color-tertiary);
			}
		}
	}
}