.inventory-link {
	
	color: var(--solidie-color-text-80);

	&:hover {
		color: var(--solidie-color-material);
	}
}

.table {
	@media (min-width: 1200px) {
		tr:not(:hover) {
			.actions {
				visibility: hidden;
			}
		}
	}

	.actions {
		.action {
			color: var(--solidie-color-text-50);
			&:hover {
				color: var(--solidie-color-text);
			}

			&, &:hover, &:active, &:focus {
				text-decoration: none;
				box-shadow: none;
				outline: none;
			}
		}
	}
}
