$dark: rgba(0, 0, 0, 0.662);
$light: rgba(0, 0, 0, 0);

.gradient-bottom {
	padding-top: 40px;
    background: linear-gradient(to top, $dark, $light);
    background: -webkit-linear-gradient(bottom, $dark, $light);
    background: -moz-linear-gradient(bottom, $dark, $light);
    background: -o-linear-gradient(bottom, $dark, $light);
}

.details {
	&, * {
		line-height: normal;
	}
}

.video-wrapper {
	
	.poster{
		background-size: cover;
		background-position: center;
	}

	&:hover {
		.poster {
			display: none;
		}
	}
}