.solidie-license-window {
    margin-right: 20px;
}

.solidie-license-card {
    width: 730px;
    max-width: 100%;
    background: #FFFFFF;
    padding: 30px 56px;
    margin: 100px auto;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

@media (max-width: 767.98px) {
    .solidie-license-card {
        padding: 20px 30px;
        margin: 30px auto;
    }
}

.solidie-license-alert-success,
.solidie-license-alert-error {
    position: relative;
    box-sizing: border-box;
    padding: 30px 30px 30px 78px;
    margin: 0px -32px 34px;
    border-radius: 6px;
}

@media (max-width: 767.98px) {
    .solidie-license-alert-success,
    .solidie-license-alert-error {
        padding: 20px 15px 20px 68px;
        margin: 0px -15px 34px;
    }
}

.solidie-license-alert-success {
    background: #F5FBF7;
    color: #075A2A;
    border: 1px solid #CBE9D5;
}

.solidie-license-alert-error {
    background: #FFF7F7;
    color: #C62828;
    border: 1px solid #FDD9D7;
}

.solidie-license-alert-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

@media (max-width: 767.98px) {
    .solidie-license-alert-icon {
        top: 15px;
        left: 10px;
    }
}

.solidie-license-alert-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 10px 0;
}

.solidie-license-alert-message {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.solidie-license-fieldset {
    display: flex;
    margin-bottom: 30px;
}

.solidie-license-fieldset-label,
.solidie-license-fieldset-content {
    font-size: 16px;
    line-height: 26px;
}

.solidie-license-fieldset-label {
    width: 160px;
    flex: 0 0 160px;
    font-weight: normal;
    color: #353535;
}

.solidie-license-fieldset-content {
    font-weight: 500;
    color: #161616;
    flex-grow: 1;
}

.solidie-license-field {
    position: relative;
}

.solidie-license-fieldset-content input[type="text"] {
    display: block;
    padding: 9px 12px;
    width: 100%;
}

.solidie-license-is-valid,
.solidie-license-is-invalid {
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    padding-right: 38px;
}

.solidie-license-is-valid {
    border-color: #075A2A !important;
}

.solidie-license-is-valid:focus {
    box-shadow: 0 0 0 1px #075A2A !important;
}

.solidie-license-is-invalid {
    border-color: #E53935 !important;
}

.solidie-license-is-invalid:focus {
    box-shadow: 0 0 0 1px #E53935 !important;
}

.solidie-license-help-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #7A7A7A;
    margin-top: 10px;
}

.solidie-license-actions {
    padding-top: 20px;
    text-align: right;
    margin-bottom: 20px;
}

.solidie-license-actions .button {
    padding: 6px 13px;
}