.table {
	@media (min-width: 1200px) {
		tr:not(:hover) {
			.actions {
				visibility: hidden;
			}
		}
	}

	.actions {
		.action {
			color: var(--crewmat-color-text-50);
			&:hover {
				color: var(--crewmat-color-text);
			}

			&, &:hover, &:active, &:focus {
				text-decoration: none;
				box-shadow: none;
				outline: none;
			}
		}
	}
}
