@font-face {
  font-family: 'solidie';
  src:  url('fonts/solidie.eot?ge3a8o');
  src:  url('fonts/solidie.eot?ge3a8o#iefix') format('embedded-opentype'),
    url('fonts/solidie.ttf?ge3a8o') format('truetype'),
    url('fonts/solidie.woff?ge3a8o') format('woff'),
    url('fonts/solidie.svg?ge3a8o#solidie') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.s-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'solidie' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-icon-twitter:before {
  content: "\e900";
}
.s-icon-facebook:before {
  content: "\e901";
}
